/* .bg-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/img/banner1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: scaleAnimation 15s linear infinite;
} */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.hero {
  overflow: hidden !important;
}
.bg-img {
  inset: 0;
  position: absolute;
  background-image: url("../../../assets/img/banner1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: bdanim 15s linear infinite;
}

@keyframes bdanim {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.8;
  }
}
@media only screen and (max-width: 768px) {
}
